<plugin>
    <identifier>topic</identifier>
    <description>Creates one or more cards for a given topic</description>
    <prompt>
        <path>plugins/topic/prompt.txt</path>
    </prompt>
    <generation>
        <mode>multiple</mode>
    </generation>
    <deck>
        <filter>Haki::</filter>
    </deck>
    <card_type>
        <model_name>Basic</model_name>
        <fields>
            <field anki="Front">front</field>
            <field anki="Back">back</field>
        </fields>
    </card_type>
    <output_dir>./</output_dir>
</plugin>